            <li class="collection-item avatar" id='{{username}}'>
              <img src="{{img}}" alt="" class="circle">
              <span class="title">{{username}}</span>
              <p><span id='pts'>{{score}}</span> points
              </p>
            </li>